/* The biggest secret to flexbox is managing parents & children. */
/* To manage this we use flex containers (the parent) & flex items (the child). */
/* So the first job is to identify where are the parents & where are the children. */
/* So there are 4 articles, and i'd like them to show up in one big row. To do this we need to wrap a container around them */
body {
    font-family: Arial, sans-serif;
  }
  a {
    display: inline-block;
    background-color: royalblue;
    color: white;
    padding: 0.5rem;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
  }
  a:hover {
    color: #333;
    background-color: powderblue;
  }
  .fas {
    font-size: 3rem;
  }
  .fa-apple-alt {
    color: tomato;
  }
  .fa-lemon {
    color: gold;
  }
  .fa-pepper-hot {
    color: darkgreen;
  }
  .fa-carrot {
    color: darkorange;
  }